<h1>Game#play</h1>
<p>Find me in app/views/game/play.html.erb</p>

<h3><i>
<div class="ml-4">
<%= @word.nombre %>
</div>
</i></h3>

<div id="word" data-word="<%= @word.nombre %>"></div>

<center>

<%= form_with do |form| %>
  <div id="letters">
    <% @word.largo.times do |num| %>
    <%#= num %> 
      <%#= form.text_field @array_word[num], id: "letter-#{num}", class: "letter" %> 
      <button id=<%= "letter-#{num}" %> type="button" class="mr-2 btn btn-outline-secondary">_</button>
    <% end %>
  </div>
  <%#= form.submit %>
<% end %>
<br>

  <button id="answer" type="button">See answer</button>
  <br><br>

   <div class="hide-definition" "><%= @word.definicion %></div>

</center>
