
<br><br><br><br>
<div id="word" data-word="<%= @word.nombre %>"></div>

<center>

  <% @word.largo.times do |num| %>
    <input id=<%= "letter-#{num}" %> type="text" class="mr-1 btn btn-xs btn-outline-secondary" size="1" onclick="toTheEnd(this)" onkeyup="validate(this);"/>
  <% end %>

  <br><br>

  <div class="d-flex" style="justify-content: center;">
    <button id="answer" type="button" class="btn btn-sm btn-success mr-3">See answer</button>
    <button id="reset" type="button" class="btn btn-sm btn-warning mr-3">Reset letters</button>
    <%= button_to "Change word", root_path, class: 'btn btn-sm btn-info' , method: :get %>
  </div>
  <br><br>

  <div class="hide-definition" ">
      <h3><i>
        <div class="ml-4">
          <%= @word.nombre %>
        </div>
      </i></h3>
      <%= @word.definicion %>.
  </div>

</center>

<br><br>
<%#= button_to "Go to dictionary", diccionarios_path, method: :get %>
<br>
<%#= button_to "Analyze text", analiza_lee_path, method: :get %>
