<p id="notice"><%= notice %></p>

<h1>Diccionarios</h1>
<br>
<%= button_to "Play game", play_path, method: :get %>

<h3>Leidos y con definicion: <%= @leidos.size %></h3>
<h3>Leidos y sin definicion: <%= @sin_definicion %></h3>
<h3>No existe en la RAE: <%= @no_existe %></h3>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Definicion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diccionarios.each do |diccionario| %>
      <tr>
        <td><%= diccionario.nombre %></td>
        <td><%= diccionario.definicion %></td>
        <td><%= link_to 'Show', diccionario %></td>
        <td><%= link_to 'Edit', edit_diccionario_path(diccionario) %></td>
        <td><%= link_to 'Destroy', diccionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @diccionarios %>

<br>

<%= button_to "Analyze text", analiza_lee_path, method: :get %>
<br>
<%= button_to "New Dictionary", new_diccionario_path, method: :get %>
