<p id="notice"><%= notice %></p>

<h1>Diccionarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Definicion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diccionarios.each do |diccionario| %>
      <tr>
        <td><%= diccionario.nombre %></td>
        <td><%= diccionario.definicion %></td>
        <td><%= link_to 'Show', diccionario %></td>
        <td><%= link_to 'Edit', edit_diccionario_path(diccionario) %></td>
        <td><%= link_to 'Destroy', diccionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @diccionarios %>

<br>

<%= link_to 'New Diccionario', new_diccionario_path %>
